
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

@{

    foreach (var std in Model)
    {
        <h3>Student Id: @std.studentId</h3>
        <h3>Student Name: @std.name</h3>
        <h3>Student Gender: @std.gender</h3>
        <h3>===================================</h3>
    }
}

