<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <header style="background-color:orange; text-align: center">This is my Header</header>

        @RenderBody()

    <footer style="background-color:forestgreen ; text-align: center">This is my Header</footer>
 
</body>
</html>
